# Compiler files
cache/
lib/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*
/broadcast/**/dry-run/

# Docs
docs/

# Shell variable files
env.sh
.env

# Locks
*.lock

# Spotlight
.DS_Store
